---
---
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href='{{ "/stylesheets/quando.css" | prepend:site.baseurl }}' rel='stylesheet' type='text/css'>
    <link href='{{ "/stylesheets/muli.css" | prepend:site.baseurl }}' rel='stylesheet' type='text/css'>
    <link href="{{ "/stylesheets/font-awesome.min.css" | prepend:site.baseurl }}" rel="stylesheet">
    <link rel="stylesheet" href="{{ "/stylesheets/resumecards.css" | prepend:site.baseurl }}">
    <title>
        {{ site.name }}'s Resume
    </title>
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
        
    {% include scripts.html %}

  </head>
  <body class="theme-green">

    <nav class="navbar navbar-default hidden-print hidden-xs" role="navigation">
        <div class="resume-nav">
          <a href="{{ "/index.html" | prepend:site.baseurl }}"  class="btn btn-warning">中国語版</a>
          <a href="{{ "/english.html" | prepend:site.baseurl }}"  class="btn btn-info">英語版</a>
          <a href="{{ "/japanese.html" | prepend:site.baseurl }}"  class="btn btn-success">日本語版</a>
        </div>
      </nav>

    <div class="container resume-content">
      <div class="row">
        <div class="col-sm-8 clearfix">
          <figure class="resume-pic">
            <img src="{{ "/resources/header.JPG" | prepend:site.baseurl }}" class="img-rounded" width="120" height="120">
          </figure>
          <div class="resume-baseinfo">
            <h1>康志華</h1>
            <p><b>{{ site.copy }}</b></p>
            <p>{{ site.motto }}</p>
          </div>
        </div>
        <div class="col-sm-4 resume-contact">
          {% include nav.html %}
        </div>
      </div>
      <div class="row">
        {% for card in site.posts %}
          {% if card.category=='jp' %}
            <div class="col-sm-4">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h3 class="panel-title">{{ card.type }}</h3>
                </div>
                <div class="panel-body" style="height: 360px;">
                  {% if card.heading %}
                    <h4>
                      {{ card.heading }}
                    </h4>
                  {% endif %}
                  {% if card.subheading %}
                    <p class="resume-subheading">
                      {{ card.subheading }}
                    </p>
                  {% endif %}
                  {% if card.duration %}
                    <p class="resume-duration">
                      {{ card.duration }}
                    </p>
                  {% endif %}
                  {% if card.location %}
                    <p class="resume-location">
                      {{ card.location }}
                    </p>
                  {% endif %}
                  {{ card.content }}
                </div>
              </div>
            </div>
          {% endif %}
        {% endfor %}
      </div>
    </div>

     <nav class="navbar navbar-default hidden-print hidden-xs" role="navigation">
        <div class="resume-nav">
          <span>Powered by <a href="https://github.com/ellekasai/resumecards" target="_blank">ResumeCards</a><span class="hidden-sm"></span></span>.
          <span>Copyright © 2014-{{ site.time | date: '%Y' }} <a href="http://www.hifreud.com/" target="_blank">Freud Kang</a><span class="hidden-sm"></span></span>.
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#saveAsPdf">
            Save as PDF
          </button>
          <div class="modal fade" id="saveAsPdf" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-body">
                  <img src="{{ "/resources/resume_print_dialog.png" | prepend:site.baseurl }}" class="img-rounded" width="400" height="342">
                  <p>Warning: Currently, ResumeCards works the best on Chrome.<br>You need to adjust the CSS for Firefox/Safari.</p>
                </div>
                <div class="modal-footer">
                  <button onclick="window.print()" class="btn btn-primary">Open Print Dialog</button>
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </nav>
    <script src="{{ "/javascripts/jquery.min.js" | prepend:site.baseurl }}"></script>
    <script src="{{ "/javascripts/bootstrap.min.js" | prepend:site.baseurl }}"></script>
    <!-- <script src="{{ "/javascripts/resumecards.js" | prepend:site.baseurl }}"></script> -->

  </body>
</html>
