
<!-- <p><i class="fa fa-twitter fa-lg fa-fw"></i> <a href="https://twitter.com/ellekasai/" target="_blank">@ellekasai</a></p> -->
<p><i class="fa fa-github fa-lg fa-fw"></i> <a href="https://github.com/duwanjiang" target="_blank">Du Wanjiang</a></p>
<!-- <p><i class="fa fa-linkedin fa-lg fa-fw"></i> <a href="https://www.linkedin.com/in/ellekasai" target="_blank">linkedin.com/in/ellekasai</a></p> -->
<p><i class="fa fa-laptop fa-lg fa-fw"></i> <a href="http://www.duwanjiang.com/" target="_blank">http://www.duwanjiang.com/</a></p>
<p><i class="fa fa-envelope-o fa-lg fa-fw"></i> <a href="mailto:453600196@qq.com" target="_blank">453600196@qq.com</a></p>
<p><i class="fa fa-mobile fa-lg fa-fw"></i> 15215036201 </p>